@media (min-width: 66.5rem) {
    .site-nav, .site-header, .site-footer {
        width: 364px;
    }
}
@media (min-width: 66.5rem) {
    .side-bar {
        width: calc((100% - 1064px) / 2 + 364px);
        min-width:264px
    }
}
@media (min-width: 66.5rem) {
    .main {
        margin-left:calc((100% - 1064px) / 2 + 364px)
    }
}
