@media (min-width: 66.5rem) {
    .site-nav, .site-header, .site-footer {
        width: 364px;
    }
}
@media (min-width: 66.5rem) {
    .side-bar {
        width: calc((100% - 1064px) / 2 + 364px);
        min-width:364px
    }
}
@media (min-width: 66.5rem) {
    .main {
        margin-left:calc((100% - 1064px) / 2 + 364px)
    }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
